*{
    margin: 0;
    padding: 0;
}
body{
    background-color:blanchedalmond;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-family:monospace;
}
.box{
    width: 50vw;
    height: 70%;
    margin-left: 35vw;
    margin-right: 25vw;
    margin-top: 30px;
    border: 1px solid black;
    padding: 20px;
    width: 30vw;
    height: 50vh;
}
.input{

    padding-left: 20%;
    margin-bottom: 20px;
    margin-top: 10px;
}
.input input{
    width: 60%;
    padding: 10px;
    background: transparent;
}
.button{
    margin-top: 20x;
    margin-left: 35%;
    
}
.button button{
    width: 100px;
    padding: 10px;
    background-color: cadetblue;
    font-size: large;
    margin-top: 10px;
}
.button button:hover{
    cursor: pointer;
}
.result{
    padding: 20px;
    align-items:center;
    padding-left: 0;
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
}